
    <div id="Terapeutico">
        <main>

            <section class="py-5 text-center container">
              <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                  <h1 class="fw-light">Masaje Terapeutico</h1>
                  <p class="lead text-body-secondary">Libera tu cuerpo y mente del estrés y el dolor con nuestros masajes terapéuticos profesionales</p>

                </div>
              </div>
            </section>
          
    </div>