<div id="index">
<header class="site-header sticky-top py-1">
  <nav
    class="container d-flex flex-column flex-md-row justify-content-between"
  >
    <a class="py-2" href="#" aria-label="Product" id="index">  Vitalidad Salud y Belleza </a>
    <a class="py-2 d-none d-md-inline-block" href="#" id="LF">Limpieza facial </a>
    <a id="AT" class="py-2 d-none d-md-inline-block" href="#">Autohemoterapia</a>
    <a id="MT" class="py-2 d-none d-md-inline-block" href="#">Masaje terapeutico</a>
    <a id="MR" class="py-2 d-none d-md-inline-block" href="#">Masaje Relajante</a>
    <a id="SM" class="py-2 d-none d-md-inline-block" href="#"
      >Sueros Multivitaminales</a
    >
  </nav>
</header>
</div>